*{
    padding:0;
    margin:0;
     /* box-sizing:border-box; */
    /* font-family: "Poppins", sans-serif; */
}
.main_box{
    position:relative;
    background:url("cof.jpg");
    height:100vh;
    background-size:cover;
    /* background-position:center bottom ; */
    background-position:15% 80%;
  
}
.btn_one i {
    color:white;
    font-size: 30px;
    font-weight: 700;
    position:absolute;
    left:16px;
    line-height: 60px;
    cursor: pointer;
     transition:all 0.2s linear;
     z-index:2;
}
.sidebar_menu{
 position:fixed;
 left:-300px;   
 height:100vh;
 width:300px;
 background-color: rgba(255, 255, 255, 0.1);
 box-shadow: 0 0 6px rgba(225, 219, 219, 0.5) ;
 transition:all 0.3s linear;
 backdrop-filter:blur(10px);
 z-index:1000;
}
.sidebar_menu .logo{
    position:absolute;
    width: 100% ;
    height:60px; 
    line-height:60px;
    box-shadow: 0 2px 4px rgba(171, 165, 165, 0.5) ;
}
.sidebar_menu .logo a{
  position:absolute;
  left:70px;
 color:white; 
 text-decoration: none;
 font-size: 20px;
 font-weight:500 ;
}
.sidebar_menu .btn_two i{
color:rgb(103, 101, 101);
font-size: 25px;
line-height: 60px;
position: absolute;
left:275px;
/* opacity:0; */
cursor: pointer;
 transition:all 0.2s linear;
}
.sidebar_menu .menu{
    position: absolute;
    width:100%;
    top:80px;

}
.sidebar_menu .menu li{
    margin-top:6px;
    padding: 14px 20px;
}
.sidebar_menu .menu a,i{
    color:white;
    text-decoration: none;
    font-size: 20px;
}
.sidebar_menu .menu{
    padding-right:8px;
}
.sidebar_menu .social_media{
    /* color:white;
    opacity:0.5; */
    position:absolute ;
    left:25%;
    bottom:50px;
    
}

.sidebar_menu .social_media i{
    color:white;
    opacity:0.5;
    padding: 0 5px;

}
#check {
    display:none;

}
.sidebar_menu .menu li:hover{
     box-shadow: 0 0 4px rgba(225, 219, 219, 0.5) ;

}
.btn_one i:hover{
  font-size:40px;
}

.btn_two i:hover{
    font-size: 30px;
}
.sidebar_menu .social_media i:hover{
    opacity:1;
    transform:scale(1.2);
}
#check:checked ~ .sidebar_menu{
    left:0;
}

#check:checked~ .btn_one i{
    opacity:0;
}
#check:checked~ .sidebar_menu .btn_two{
   opacity:1;
}

/* promotion SECTION */
.content{
    position:absolute;
    top:50%;
    right:5%;
    transform:translateY(-50%);
    color:#F5F5F5;
    z-index: 1;
    /* text-align: right; */
}

.content h1{
    font-size:48px;
    margin-bottom:20px;
    color:#C7A17A;
    letter-spacing:2px;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.7);
}

.content p{
    font-size:18px;
    margin-bottom:25px;
}

.promo_btn{
    padding:12px 30px;
    background:#C7A17A;
    color:#1C1C1C;
    text-decoration:none;
    font-weight:600;
    transition:0.3s;
}

.promo_btn:hover{
    background:#F5F5F5;
}
